/* index */

/* Header styles */
header {
    overflow: hidden;
    background-color: green;
    color: #ffffff;
    padding: 0; /* Top and bottom padding reduced */
    margin: 0; /* Remove default margin */
    width: 100%;
}

/* Navigation styles */
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

header ul li.user-info {
    margin-left: auto; /* This will push the user-info to the far end */
    display: flex;
    align-items: center;
}

header ul li.user-info img {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image round */
    margin-right: 10px;
}

/* Logout link styles */
header ul li a.logout-link {
    background-color: #f44336; /* Red color for the logout button */
    color: #ffffff;
    padding: 5px 10px; /* Padding for the button */
    border-radius: 4px; /* Rounded corners for the button */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

header ul li a.logout-link:hover {
    background-color: #c0392b; /* Darker red color on hover */
}

/* Sidebar styles */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    overflow-y: auto;
    transition: left 0.3s;
    z-index: 1; /* Lower z-index to avoid covering header/footer */
}

/* Show the sidebar when user is authenticated */
.sidebar.active {
    left: 0;
}

/* Main content styles */
.main-content {
    margin-left: 0; /* Reset margin to remove extra space */
    padding: 2rem; /* Add padding to main content area */
}
/* Sidebar link styles */
.sidebar ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.sidebar li {
    padding: 0.5rem 1rem; /* Add padding for each list item */
}

.sidebar a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* Set text color */
    display: block; /* Make the links fill the list item */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.sidebar a:hover {
    background-color: #444; /* Change background color on hover */
}


/* Landing section styles */
.landing {
    background-color: #f5f5f5;
    padding: 2rem;
    text-align: center;
}

/* Button styles */
.home-btn {
    background-color: green;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: 0.5rem;
    cursor: pointer;
    font-size: 1.9rem;
    text-decoration: none; /* Remove underline */
}

/* Features section styles */
.features {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.feature {
    flex: 1;
    text-align: center;
    background-color: green;
    margin-left: 1.5rem;
    color: white;
}

.feature-text {
    font-size: large;
}

/* Footer styles */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    color: white;
    text-align: center;
}

/* Login */

/* Login Container */
.login-content {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

/* Login Header */
.login-content h1 {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
}

/* Input Fields */
.login-content input[type="text"],
.login-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Login Button */
.login-content button {
    background-color: #008f36;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.login-content button:hover {
    background-color: #007a31;
}

/* Forgot Password Link */
.login-content a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: green;
    text-decoration: none;
}

.login-content a:hover {
    text-decoration: underline;
}

/* Sign up */

/* Sign-up Container */
.signup-content {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

/* Sign-up Header */
.signup-content h1 {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
}

/* Input Fields */
.signup-content input[type="text"],
.signup-content input[type="email"],
.signup-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Sign-up Button */
.signup-content button {
    background-color: #008f36;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.signup-content button:hover {
    background-color: #007a31;
}

/* Sign-in Link */
.signup-content a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: green;
    text-decoration: none;
}

.signup-content a:hover {
    text-decoration: underline;
}

/* Error message style */
.errorlist {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


/* Forgot Password Container */
.forgot-password-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

/* Forgot Password Header */
.forgot-password-container h1 {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
}

/* Input Fields */
.forgot-password-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Reset Password Button */
.forgot-password-container button {
    background-color: #008f36;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.forgot-password-container button:hover {
    background-color: #007a31;
}

/* Forgot Password Link */
.forgot-password-container a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: green;
    text-decoration: none;
}

.forgot-password-container a:hover {
    text-decoration: underline;
}

/* Create new password */

/* Create New Password Container */
.create-new-password-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

/* Create New Password Header */
.create-new-password-container h2 {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
}

/* Input Fields */
.create-new-password-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

/* Set New Password Button */
.create-new-password-container button {
    background-color: #008f36;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.create-new-password-container button:hover {
    background-color: #007a31;
}

/* Back to Login Link */
.create-new-password-container a.back-to-login {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: green;
    text-decoration: none;
}

.create-new-password-container a.back-to-login:hover {
    text-decoration: underline;
}


/* Invalid Token Container */
.invalid-token-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

/* Invalid Token Header */
.invalid-token-container h2 {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
}

/* Error Message */
.invalid-token-container p {
    text-align: center;
    margin-top: 10px;
    color: red;
}
/* Back to Login Link */
.invalid-token-container a.back-to-login {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: green;
    text-decoration: none;
}

.invalid-token-container a.back-to-login:hover {
    text-decoration: underline;
}


/* Password Reset Link Sent */

/* Password Reset Link Sent Container */
.password-reset-link-sent-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

/* Password Reset Link Sent Header */
.password-reset-link-sent-container h2 {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
}

/* Message Text */
.password-reset-link-sent-container p {
    text-align: center;
    margin-top: 10px;
}

/* Back to Login Link */
.password-reset-link-sent-container a.back-to-login {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: green;
    text-decoration: none;
}

.password-reset-link-sent-container a.back-to-login:hover {
    text-decoration: underline;
}

/* password_reset_done.css */

/* Password Reset Done Container */
.password-reset-done-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

/* Password Reset Done Header */
.password-reset-done-container h2 {
    background-color: #008f36;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
}

/* Text Content */
.password-reset-done-container p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

/* Back to Login Link */
.password-reset-done-container a.back-to-login {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: green;
    text-decoration: none;
}

.password-reset-done-container a.back-to-login:hover {
    text-decoration: underline;
}


/* Perform Clearance */

/* Perform Clearance Container */
.perform-clearance-content {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
}

/* Perform Clearance Header */
.perform-clearance-content h1 {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
}

/* Clearance Item Labels */
.perform-clearance-content label {
    display: block;
    margin-top: 10px;
    color: #333;
}

/* Clearance Item Checkboxes */
.perform-clearance-content input[type="checkbox"] {
    margin-top: 5px;
}

/* Submit Button */
.perform-clearance-content button {
    background-color: #008f36;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.perform-clearance-content button:hover {
    background-color: #007a31;
}

/* Style the message */
.message {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}


/* Static CSS for the clearance form */

/* Style the "Choose File" button */
.custom-file-input {
    /* Customize the appearance of the file input button */
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.custom-file-input:hover {
    background-color: #007a31;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}