<!-- password_reset_link_sent.html -->

{% extends 'base.html' %}

{% block title %}Password Reset Link Sent{% endblock %}

{% block content %}
    <div class="password-reset-link-sent-container">
        <h2>Password Reset Link Sent</h2>
        <p>If we have your email, we've emailed you instructions for setting your password.</p>
        <p>You should receive the email shortly.</p>

        <p><a href="{% url 'user_auth:student_login' %}" class="back-to-login">Back to Login</a></p>
    </div>
{% endblock %}
